.button-component {
  background-color: aqua;
  color: black;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button-component.danger {
  background-color: red;
  color: white;
}