.label-input-component {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  padding-right: 10px;
}

.input-input-component {
  display: block;
  width: 300px;
  height: 40px;
}

